.login-page {
  .login-options {
    display: flex;
    justify-content: space-between;

    .checkbox-container {
      display: flex;
      align-items: center;
      gap: 8px;
      
      label{
        vertical-align: middle;
      }
      label,
      input {
        cursor: pointer;
      }
    }
  }
}
